.app.light {
  --bg-color: #ffffff;
  --text-color: #333333;
  --card-bg: #f9f9f9;
  --button-bg: #ff9800;
  --button-hover: #e68a00;
  --border-color: #dfe1e5;
  --error-color: #ff4d4f;
  --panel-bg: #f9f9f9;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --search-bg: #f8f9fa;

  background-color: var(--bg-color);
}

.app.dark {
  --bg-color: #333131;
  --text-color: #f5f5f5;
  --card-bg: #2d2d2d;
  --button-bg: #eba953;
  --button-hover: #dba205;
  --border-color: #444;
  --error-color: #ff6b6b;
  --panel-bg: #252525;
  --shadow-color: rgba(0, 0, 0, 0.3);
  --search-bg: #2d2d2d;

  background-color: rgb(48, 42, 42);
}
